{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="lib/d3.v2.min.js"></script>
        <script src="lib/jquery-1.8.2.min.js"></script>
        <script src="lib/knockout-2.1.0.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>

        <style>
            @import url("lib/bootstrap/css/bootstrap.min.css");
            @import url("lib/bootstrap/css/bootstrap-responsive.min.css");
        </style>
    </head>
    <body>

        {{range .JSfiles}}
        <script src="{{.}}"></script>
        {{end}}
    </body>
</html>
{{end}}
