{{define "panel"}}
<defs>
    <!-- Normal Panel -->
    <symbol class="panel" id="panel-normal">
        <image
            x="0"
            y="0"
            width="32px"
            height="32px"
            xlink:href="img/panel/normal.svg"
            overflow="visible">
        </image>
    </symbol>    

    <!-- Number Panel -->
    <symbol id="panel-number-input">
         <image
            x="0"
            y="0"
            width="32px"
            height="32px"
            xlink:href="img/panel/number_input.svg"
            overflow="visible">
        </image>
    </symbol>
    <symbol id="panel-number-output">
         <image
            x="0"
            y="0"
            width="32px"
            height="32px"
            xlink:href="img/panel/number_output.svg"
            overflow="visible">
        </image>
    </symbol>

    <!-- Boolean Panel -->
    <symbol id="panel-boolean-input">
         <image
            x="0"
            y="0"
            width="32px"
            height="32px"
            xlink:href="img/panel/boolean_input.svg"
            overflow="visible">
        </image>
    </symbol>
    <symbol id="panel-boolean-output">
         <image
            x="0"
            y="0"
            width="32px"
            height="32px"
            xlink:href="img/panel/boolean_output.svg"
            overflow="visible">
        </image>
    </symbol>

</defs>
{{end}}
